@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<img src="~/Content/Images/headshot.jpg" alt="Alexander Inman" style="width:400px" />

<div>
    <br />
    <p></p>
</div>

<div>
    <br />
    <address>
        Grand Circus Park<br />
        Detroit, MI 48226<br />
        <abbr title="Phone">P:</abbr>
        313.338.2780
    </address>
</div>
