@{
    ViewBag.Title = "Portfolio";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>One project you can check out:</strong>   <a href="https://github.com/N1njan33r/LabJJ">AInman's Dice Roller</a><br />
    <strong>Or if you want to just go to</strong> <a href="https://github.com/N1njan33r">my GitHub.</a>
</address>