@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Alex the Inman</h1>
    <p class="lead">Project manager looking to delve into C# development.</p>
    <p><a href="https://theuselessweb.site/riddlydiddly/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Alex Basics</h2>
        <p>
            I do not have a blog. Check out my <a href="https://www.linkedin.com/in/alexanderfinman">LinkedIn profile</a>!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Alex Intermediate</h2>
        <p>I like board games.</p>
    </div>
    <div class="col-md-4">
        <h2>Alex Advanced</h2>
        <p>I live in <a href="https://goo.gl/maps/ucrRE2sun1R2">Ypsilanti</a>.</p><!--I know this isn't necessarily utilizing the api.-->
    </div>
</div>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false">
</script>